html{
    background-color: #ababab;
}

body{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 5;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#e5e5e5 ;
}
.header{
    display: flex;
    padding: 2%;
    background-color: #ffffff;
    color:#703b40;
    justify-content: center;
    font-size: xx-large;
    font-weight: 800;
 }
/*
.ques1-2{
    display: flex;
    background: #703b40;
    justify-content: center;
    color:#733f45 ;

}

.ques{
    justify-content: end;
    color: #733f45;
    background-color: #703b40;
}

.choice{
    justify-content: center;
    color:#d3c5c6 ;
}